<form action="{% url 'attack' game_id %}" method="post" id="attack-form" class="form-inline">
    {% csrf_token %}
    <input type="hidden" name="game_id" value="{{ game_id }}"></input>
    <div class="form-group">
        {{ attack_form.target_team }}
    </div>
    <div class="form-group">
        {{ attack_form.target_x }}
    </div>
    <div class="form-group">
        {{ attack_form.target_y }}
    </div>
    <div class="checkbox">
        <label for="{{ attack_form.bombs_away.id_for_label }}">
            {{ attack_form.bombs_away }} {{ attack_form.bombs_away.label }}
        </label>
        {% if attack_form.bombs_away.help_text %}<span class="help-block">{{ attack_form.bombs_away.help_text }}</span>{% endif %}
    </div>
    <input id="attack-form-submit" class="btn btn-default" type="submit" value="Shoot!">
</form>
